/******************************
*
*  Magnific Popup core CSS file v0.0.1
*
*    1. Dark overlay
*    2. Preloader
*    3. Close button
*    4. 1 of X counter text
*    5. Arrows
*    6. Core styles
* 
******************************/


/***************
*
*  1. Dark overlay
*
****************/

.mfp-bg {
  background: #000;
  opacity: 0.85;
  filter: alpha(opacity=85);
}




/***************
*
*  2. Preloader
*
****************/

.mfp-preloader {
  font-size: 13px;
  color: #EEE;
  color: rgba(255, 255, 255, 0.74);
  position: absolute;
  left: 50%;
  top: 50%;
  width: 200px;
  text-align: center;
  height: 20px;
  margin-left: -100px;
  margin-top: -12px;
  line-height: 20px;
}




/***************
*
*  3. Close button
*
****************/

.mfp-close {
  width: 44px;
  height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
  text-decoration: none;
  text-align: center;
  opacity: 0.6;
  padding: 0;
}
.mfp-close-icn {
  font-style: normal;
  color: #FFF;
  font-size: 30px;
  line-height: 30px;
  font-family: Arial,sans-serif;
  line-height: 44px;
}
.mfp-close:hover {
  text-decoration: none;
  opacity: 1;
}
.mfp-close:active {
  margin-top: 1px;
}
.mfp-dark-close-button .mfp-close-icn {
  color: #000;
}




/***************
*
*  4. 1 of X counter text
*
****************/

.mfp-counter {
  position: absolute;
  bottom: -34px;
  left: 0;
  width: 100%;
  height: 20px;
  text-align: center;
  color: #C5C5C5;
  font-size: 13px;
  line-height: 15px;
}




/***************
*
*  5. Arrows
*
****************/

.mfp-arrow {
  position: absolute;
  bottom: -44px;
  padding: 10px 40px 10px 20px;
  opacity: 0.7;
}
.mfp-arrow:hover {
  opacity: 1;
}
.mfp-arrow:active {
  margin-top: 1px;
}
.mfp-arrow span {
  background: #FFF;
  width: 9px;
  height: 8px;
  border-radius: 2px;
  display: block;
  position: relative;
  padding: 8px 8px;
}

.mfp-arrow-left {
  left: 50%;
  margin-left: -85px;
}
.mfp-arrow-right {
  right: 50%;
  margin-right: -85px;
  padding-left: 40px;
  padding-right: 20px;
}
.mfp-arrow i {
  display: block;
  width: 0; 
  height: 0; 
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}
.mfp-arrow-left i {
  margin-left: -1px;
  border-right: 9px solid #444;
}
.mfp-arrow-right i {
  margin-left: 1px;
  border-left: 9px solid #444;
}


/***************
*
*  7. Core
*
****************/

.mfp-bg,
.mfp-wrap,
.mfp-centerer,
.mfp-zoom-out img,
.mfp-zoom-out .mfp-content {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select:none;
  -moz-user-select: none;
  user-select: none;
}


 /* Transparent overlay */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  overflow: hidden;
  position: fixed;
  /* fixes webkit bug that can cause appearance of scrollbar */
  -webkit-backface-visibility: hidden;
}

/* Wrapper for popup. Scroll overflow is applied on it. */
.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 501;
  position: fixed;
}


/* Root holder of content */
.mfp-container {
  height: 100%;
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

/* Extra container that centers popup vertically and horizontally. + contains controls */
.mfp-centerer {
  vertical-align: middle; 
  display: inline-block; 
  line-height: 0;
  margin: 0 auto;
  cursor: auto;
  position: relative;
  width: 100%;

  /* yea, I know that it's ugly. If you know better solution - welcome to GitHub */
  *display: block;
  *margin-top: expression(this.offsetHeight < this.parentNode.offsetHeight ? parseInt((this.parentNode.offsetHeight - this.offsetHeight) / 2) + "px" : "0");
}

/* Holds popup content itself. */
.mfp-content {
  position: relative;
  display: inline-block;
}

/* Main image in popup */
img.mfp-img {
  cursor: pointer;
  width: auto;
  max-width: 100%;
  height: auto;
  display: inline-block;
  margin-top: -3px;
}

.mfp-iframe-content {
  line-height: 0;
}

.mfp-img-content img {
  line-height: 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}

.mfp-inline-content {
  line-height: 1.231;
}

/* reset for button */
button.mfp-close,
button.mfp-arrow {
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
}

/* helper classes */
/* measure class to get scrollbar size */
#mfp-sbm {
  width: 99px;
  height: 99px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}

/* applied to body to hide default scrollbar */
.mfp-overflow-hidden {
  overflow: hidden;
}

.mfp-inline-content {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  cursor: auto;
}
