/******************************
*
*  Magnific Popup core SCSS file v0.0.1
*
******************************/


$overlay-color: #000;
$overlay-opacity: 0.8;

$controls-opacity: 0.75;
$controls-color: #FFF;
$controls-color-alt: #444;

$inner-close-icon-color: #333;

$controls-text-color: #CCC;
$controls-text-color-hover: #FFF;

$shadow: 0 0 8px rgba(0, 0, 0, 0.6);

$arrows: true; // Set to false to exclude all arrow styles

/***************
*
*  1. Dark overlay
*
****************/

.mfp-bg {
  background: $overlay-color;
  opacity: $overlay-opacity;
  filter: alpha(opacity=$overlay-opacity*100);
}




/***************
*
*  2. Preloader
*
****************/

.mfp-preloader {
  font-size: 13px;
  color: $controls-text-color;
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  height: 20px;
  margin-top: -5px;
  line-height: 20px;
}
.mfp-preloader a {
  color: $controls-text-color;
}
.mfp-preloader a:hover {
  color: $controls-text-color-hover;
}



/***************
*
*  3. Close button
*
****************/

.mfp-close {
  width: 44px;
  height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
  text-decoration: none;
  text-align: center;
  opacity: $controls-opacity;
  padding: 0;
}
.mfp-close-icn {
  font-style: normal;
  color: $controls-color;
  font-size: 30px;
  line-height: 30px;
  font-family: Arial,sans-serif;
  line-height: 44px;
}
.mfp-close-btn-in .mfp-close-icn {
  color: $inner-close-icon-color;
}
.mfp-close:hover {
  text-decoration: none;
  opacity: 1;
}
.mfp-close:active {
  top: 1px;
}


/***************
*
*  4. 1 of X counter text
*
****************/

.mfp-counter {
  position: absolute;
  bottom:11px;
  left: 0;
  width: 100%;
  height: 20px;
  text-align: center;
  color: $controls-text-color;
  font-size: 13px;
  line-height: 15px;
  z-index: 1;
}




/***************
*
*  5. Arrows
*
****************/

@if $arrows { 

  .mfp-arrow {
    position: absolute;
    bottom: 0;
    padding: 10px 40px 10px 20px;
    opacity: $controls-opacity;
    width: 85px;
  }
  .mfp-arrow:hover {
    opacity: 1;
  }
  .mfp-arrow:active {
    margin-top: 1px;
  }
  .mfp-arrow span {
    background: $controls-color;
    width: 9px;
    height: 8px;
    border-radius: 2px;
    display: block;
    position: relative;
    padding: 8px 8px;
  }

  .mfp-arrow-left {
    left: 50%;
    margin-left: -85px;
  }
  .mfp-arrow-right {
    right: 50%;
    margin-right: -85px;
    padding-left: 40px;
    padding-right: 20px;
  }
  .mfp-arrow i {
    display: block;
    width: 0; 
    height: 0; 
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
  }
  .mfp-arrow-left i {
    margin-left: -1px;
    border-right: 9px solid $controls-color-alt;
  }
  .mfp-arrow-right i {
    margin-left: 1px;
    border-left: 9px solid $controls-color-alt;
  }

}


/***************
*
*  7. Core
*
****************/

.mfp-ajax-cur {
  cursor: progress;
}
.mfp-zoom-out-cur {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}
.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
}
.mfp-gallery .mfp-image-content {
  cursor: pointer;
}

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select:none;
  -moz-user-select: none;
  user-select: none;
}

 /* Transparent overlay */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  overflow: hidden;
  position: fixed;
}

/* Wrapper for popup. Scroll overflow is applied on it. */
.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 501;
  position: fixed;
  outline: none !important;

 /* fixes webkit bug that can cause "false" of scrollbar */
  -webkit-backface-visibility: hidden;
}


/* Root holder of content */
.mfp-container {
  height: 100%;
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

/* Extra container that centers popup vertically and horizontally. + contains controls */
/*.mfp-centerer {
  vertical-align: middle; 
  display: inline-block; 
  line-height: 0;
  margin: 0 auto;
  position: relative;
  width: 100%;

  *display: block;
  *margin-top: expression(this.offsetHeight < this.parentNode.offsetHeight ? parseInt((this.parentNode.offsetHeight - this.offsetHeight) / 2) + "px" : "0");
}*/

/* Holds popup content itself. */
.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  /* reset line height */
  line-height: 1.231;
  text-align: left;
}

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: inline-block;
  margin-top: -3px;
  line-height: 0;
  box-shadow: $shadow;
}
.mfp-img-content {
  line-height: 0;
  position: relative;
  width: 100%;
}



.mfp-iframe-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}
.mfp-iframe-scaler {
  width: 100%;
  box-shadow: $shadow;
}
.mfp-iframe-scaler iframe {  
   position: absolute;              
   top: 0;                          
   left: 0;                         
   width: 100%;                     
   height: 100%;                    
}  





.mfp-inline-content {
  line-height: 1.231;
}

/* reset for button */
button.mfp-close,
button.mfp-arrow {
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  z-index: 1;
}

/* helper classes */
/* measure class to get scrollbar size */
#mfp-sbm {
  width: 99px;
  height: 99px;
  overflow: scroll;
  position: absolute;
  top: -9999px;
}

.mfp-hidden {
  display: none;
}

.mfp-inline-content {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  cursor: auto;
}
.mfp-img {
  max-width: 100%;
  display: inline-block;
  box-shadow: $shadow;
  line-height: 0;
}






/* test styles for image with caption */

.img-popup-bg img {
  max-width: 100%;
}
.img-popup-bg p {
  text-align: left;
  line-height: 20px;
  padding: 8px 16px;
  color: #FFF;
  opacity: 0.8;
  margin: 0;
}







