---
layout: default
title: Magnific Popup&#58; Responsive jQuery Lightbox Plugin
description: Light and open source responsive lightbox plugin with focus on performance, for jQuery and Zepto.js. High-DPI (retina) display support, fast tap for touch devices.
canonical_url: http://dimsemenov.com/plugins/magnific-popup/
include_credit: true
---

<div id="logo">
  <canvas id="broken-glass"></canvas>
  <h1>Magnific Popup</h1>
</div>
{% include logo.html %}
<div>
  <h2 class="intro">Magnific Popup is a free responsive jQuery lightbox plugin that is focused on performance and providing best experience for user with any device (Zepto.js compatible).</h2>
  <div id="header-links">
    <a href="documentation.html">Plugin documentation</a> &middot; <a href="https://github.com/dimsemenov/Magnific-Popup">GitHub repository</a><!-- &middot; <a href="https://github.com/dimsemenov/Magnific-Popup">star on GitHub</a> &middot; <a id="tweet-link" href="http://twitter.com/share?url=http://dimsemenov.com/plugins/magnific-popup/&text=Magnific Popup: responsive lightbox plugin&via=dimsemenov" class="tweet-link" rel="nofollow">tweet!</a> -->
  </div>
</div>


<h2>What makes this plugin different?</h2>
<div class="features grid-c">

  <div class="gc3">
    <h3>Light and modular</h3>
    <p>You can include in build only features that you need using <a href="#mfp-build-tool" class="mfp-build-tool-link popup-link">online build tool</a> or by compiling it by yourself with Grunt.js. Size of core JS file is about <strong>3KB</strong> + each module weights about 0.5KB (gzipped). Sass CSS preprocessor is used for easier skinning, but you're not obligated to use it.</p>
  </div>
  <div class="gc3">
    <h3>Content is resized with CSS</h3>
    <p>The majority of lightbox plugins require you to define size of it via JS option. Magnific Popup does not -  feel free to use relative units like EM's or resize lightbox with help of CSS media queries. Update content inside lightbox without worrying about how it'll resize and center.</p>
  </div>
  <div class="gc3">
    <h3>Fast</h3>
    <p>Magnific Popup displays images before they're completely loaded to take full advantage of progressive loading. For in and out transitions CSS3 is used instead of slow JavaScript animation.</p>
  </div>
  <div class="gc3">
    <h3>High-DPI (Retina) display support</h3>
    <p>Default controls are made with pure CSS, without external graphics. For the main image there is a built in way to provide appropriate source for different pixel density displays.</p>
  </div>
  <div class="gc3">
    <h3>Conditional lightbox</h3>
    <p>Plugin has an option to automatically switch to alternative mobile-friendly source on small screen sizes. Brad Frost has a <a href="http://bradfrostweb.com/blog/post/conditional-lightbox/">terrific article</a> about this technique.</p>
  </div>
  <div class="gc3">
    <h3>Memory management</h3>
    <p>Popup has an extendable micro templating engine that reuses existing DOM elements (<a href="http://codepen.io/dimsemenov/pen/sHoxp">example</a>), which is expecially useful when you have same pattern for each popup.</p>
  </div>
</div><br/>

<h3 style="color:#C00; text-align:center;">Warning! Plugin is in early beta, please don't use it in live projects and wait until I finish it. Please send your suggestions about it via Twitter to <a href="http://twitter.com/dimsemenov">@dimsemenov</a>.</h3>

{% include examples.html %}


<h2 id="license">License</h2>
<p>Script is available under MIT license. But please do me a favor and do not create public WordPress plugin based on it,  because I will make it soon (<a href="http://dimsemenov.com/subscribe.html">want to get notified?</a>).
</p>

<h2>Contributors</h2>
<p>To get in here contribute to Magnific Popup script or just improve this site on <a href="https://github.com/dimsemenov/Magnific-Popup">GitHub</a>. Even tiniest optimizations are very welcome. Special thanks to:</p>

<ul>
  <li><a href="https://twitter.com/lokeshdhakar">Lokesh Dhakar</a> for creating original Lightbox script.</li>
  <li><a href="https://twitter.com/chriscoyier">Chris Coyier</a> for awesome CSS techniques.</li>
  <li><a href="https://twitter.com/brad_frost">Brad Frost</a> for conditional lightbox technique.</li>
</uL>

<h2>Browser support</h2>
<p>Modern browsers, IE8, partial support of IE7 (just works). Tested on mobile: Android 2.3+, iOS5+, Blackberry
10+, WP7+.</p>

<h2>Updates</h2>
<p>If you wish to get notified about important plugin updates, you may follow <a href="http://twitter.com/dimsemenov">me on Twitter</a>, or join my tiny Mailchimp <a href="http://dimsemenov.com/subscribe.html">email newsletter</a>.</p>

<!-- <h3>Want to help?</h3>
<div>If you like this script and wish it to be always up to date, please spread the word share it with your collegues.</div>
<div>Improve script via GitHub, any optimization even the tiniest one is very welcome.</div> -->
